* {
    margin: 0;
    padding: 0;
    color: lightgray;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,33,1) 0%, rgba(3,17,19,1) 0%, rgba(90,183,249,1) 50%, rgba(0,0,0,1) 100%);
}
hr{
    margin:0;
    padding:0;
}

/* od tuka e za index */

/* body-hero-image */
.index-banner {
    height: 620.3px;
    width: 100%;
    background-image: url('../Images/backg-img.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
   filter: alpha(opacity=50);
    opacity: 0.885;
}

.index-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    
}

.index-text {
    display: flex;
    filter: alpha(opacity=50);
    opacity: 0.9;
    background-color: lightgray;
    color: black;
    padding:10px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.index-buttons a {
    text-decoration: none;
    color: antiquewhite;
}

    .index-buttons a:hover {
        color: white;
        transition: all 100ms ease-in-out;
    }

.index-buttons {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: none;
}

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    background-color: #163545;
    border:double;
}

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #163545;
    border: double;
    width: 200px;
}




/*/// do tuka e za index ///*/

/* tuka e za povekje za nas/info */

.about-main {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .about-main h4 {
        color: white;
    }

.about-text ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: navajowhite;
}

.about-text {
    color: white;
    text-decoration: none;
    margin: 50px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/* do tuka e za povekje za nas/info*/
.main-contact {
    background-color: green;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.parag {
    width: 100%;
    display: flex;
    justify-content: center;
    color: orange;
    font-size: 50px;
    align-items: center;
    background-color: none;
}


.navi {
    display: flex;
    /*text-align: right;*/
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,33,1) 0%, rgba(3,17,19,1) 0%, rgba(90,183,249,1) 50%, rgba(0,0,0,1) 100%);
}

.menu {
    margin: 0 30px 0 0;
}

    .menu a {
        text-decoration: none;
        color: antiquewhite;
        font-size: 18px;
        transition: all 100ms ease-in-out;
        font-family: 'Ubuntu', sans-serif;
        margin: 0 10px;
        margin-top: 20px;
    }

        .menu a:hover {
            color: white;
        }

hr.fancy-line {
    border: 0;
    height: 1px;
    background: radial-gradient(circle, orange 19%, rgba(226,226,228,1) 72%);
}





@media only screen and (max-width: 200px) {
    iframe {
        /*width="750" height="450"*/
        width: 300px;
        height: 250px;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

        .menu a {
            display: block;
            border-bottom: 1px solid gray;
        }
}

/* od tuka pocnuva soopstenija.cshtml */

.grid-two {
    display: grid;
    background-color: gray;
    /* height: 500px; */
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 50px;
    padding-left: 120px;
    padding-right: 120px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    align-content: center;
    text-align: center;
}

.bak-img {
    height:300px;
    width:100%;
}

.Cube{
    border: double;
}

.grid-two h4,p{
    font-size: 18px;
}



/* tuka e footer */
.footer {
    height: 300px;
    width: 100%;
    background-color: #163545;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.left-column {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .left-column a {
        margin-right: 5px;
        text-decoration: none;
        color: white;
        transition: all 100ms ease-in-out;
    }

        .left-column a:hover {
            color: white;
        }

.left-column-top {
    width: 450px;
}

.left-column-bottom {
    width: 450px;
}

.right-column {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* 
    Pravam override na nivni gotov css za da ne cepkam direktno tamu. 
*/
.form-horizontal .form-group {
    margin-right: 0px;
}

.radio label, .checkbox label {
    padding-left: 0px;
}

a{
    color: lightgray;
}