@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" } ))
    {
    @Html.AntiForgeryToken()

    <div class="menu">
        @Html.Label(User.Identity.GetUserName(), htmlAttributes: new { style = "margin-top: 10px; margin-right: 20px; font-size: 18px;" })
        <a class="btn btn-danger" style="margin: 0px;" href="javascript:document.getElementById('logoutForm').submit()">Одјави се</a>
    </div>
    }
}
else
{
    <div class="menu">
        @Html.ActionLink("Регистрирај се", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        @Html.ActionLink("Најави се", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
}



