@{
    ViewBag.Title = "Повеќе за нас";
}

<div class="about-main">
    <div class="about-map">
        <h4>Локација</h4>

        <iframe width="350" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=21.38617515563965%2C42.0055074121447%2C21.39894247055054%2C42.01135887648167&amp;layer=mapnik&amp;marker=42.00843321159265%2C21.392558813095093" style="border: 1px solid black"></iframe>
        <br />
        <small>
            <a href="https://www.openstreetmap.org/?mlat=42.00843&amp;mlon=21.39256#map=17/42.00843/21.39256&amp;layers=N">Зголеми ја мапата</a>
        </small>
    </div>
    <div class="about-text">
        <ul>
            <li>Контакт</li>
            <li>
                <i class="fa fa-map-marker">
                    Булевар 8ми Септември бр.13
                    1000 Скопје, Република Северна Македонија
                </i>
            </li>
            <li>
                <i class="fa fa-phone">Тел: +389 076 361-185; 071 318-966</i>
            </li>
            <li>
                <i class="fa fa-envelope">Е-пошта: <a href="mailto:email@sample.com?subject=subject text">info@sstoseproeski.mk</a></i>
            </li>
        </ul>
    </div>
</div>
<br />
<br />
