@{
    ViewBag.Title = "Contact";
}
<div class="main-contact">
    <h2>Kontaktirajte ne</h2>
    <h3>Informacii: </h3>

    <div class="address">
        partizanska

    </div>
    <div class="mail">s
        sportska_sala@gmail.com
    </div>


</div>
