@{
    ViewBag.Title = "Home Page";
}

<div class="index-banner">
    <div class="index-flex">
        <div class="index-text">Добредојдовте!</div>
    </div>
</div>

<div class="index-buttons">
    <a href="#"><div class="button1">Најавете се тука</div></a>
    <a href="#"><div class="button2">Што има ново</div></a>
</div>
