@{
    ViewBag.Title = "Дома";
}

<div class="index-banner">
    <div class="index-flex">
        <!--<div class="index-text"> Д о б р е д о ј д о в т е ! </div>-->
    </div>
</div>

<div class="index-buttons">
    <a class="btn btn-primary btn-lg" href="/Events/Index">Резервирај сега!</a>
    <a class="btn btn-primary btn-lg" href="/Home/About">Контактирајте не!</a>
</div>